# Frontend (React)
Client Side/Restraunt/node_modules
client/build/
Client Side/Restraunt/dist
client/.env.local
client/.env.*.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# Backend (ASP.NET & Node.js Microservices)
server Side Side/**/node_modules/
server Side Side/**/bin/
server Side/**/obj/
server Side/**/.env
server Side/**/.vs/
server Side/**/.vscode/
server Side/**/*.user
server Side/**/*.suo
server Side/**/*.sln.docstates
server Side/**/appsettings.Development.json

# General
.DS_Store
.env
*.log
.idea/
workspace.xml