# Frontend (React)
Client Side/Restraunt/node_modules
client/build/
Client Side/Restraunt/dist
client/.env.local
client/.env.*.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# Backend (ASP.NET & Node.js Microservices)
Server Side/Restraunt app/MenuService/obj
Server Side/Restraunt app/MenuService/bin
Server Side/Restraunt app/AuthService/bin
Server Side/Restraunt app/AuthService/obj

# General
.DS_Store
.env
*.log
.idea/
workspace.xml